html {
  font-size: 10px;
}

a {
	text-decoration: none !important;
}


/* Navbar Section  */
.navbar-brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.navbar-brand h1 span {
  color: #40ffef !important;
}


.sticky {
  background-color: #00071bd8 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 2rem !important;
  text-transform: uppercase;
}

.navbar-toggler {
  padding: 0.25rem 1.5rem !important;
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #40ffef !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 2rem !important;
    background-color: black !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }

  .nav-item a:hover {
    color: #40ffef !important;
  }
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 1200px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 30px;
  letter-spacing: 0.2rem;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #40ffef;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

#responsive-navbar-nav {
  justify-content: space-evenly;
}


/* Home section */
.home-section {
  margin-top: 15%;
}

.heading {
  display: block;
  position: relative;
  padding-top: 20px;
  padding-left: 40px;
  color: transparent;
  font-size: 7rem !important;
  animation: text-reveal 0.5s ease forwards;
	animation-delay: 1s;
}

.heading-name {
  margin: auto;
  width: fit-content;
  display: block;
  position: relative;
  color: transparent;
  font-size: 7rem !important;
  animation: name-reveal 0.5s ease forwards;
	animation-delay: 2s;
}

.heading-des {
  margin-top: 30px;
  color: transparent;
  font-size: 5rem !important;
  animation: text-reveal 0.5s ease forwards;
	animation-delay: 3s;
}

#boxone {
	position: absolute;
  top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: box_reveal_one 1s ease;
	animation-delay: 0.5s;
}

.heading-name span {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: box_reveal_two 1s ease;
	animation-delay: 1.5s;
}

#cursor {
  color: transparent;
  font-weight: 400 !important;
  animation: type-reveal 0.5s ease forwards;
	animation-delay: 3.6s;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: content;
  border: #40ffef solid 2px;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 290px;
  width: 290px;
  margin: auto;
}

.profile-picture-background {
  height: 95%;
  width: 95%;
  background-image: url("assets/profile.jpg");
  background-size: cover;
  border-radius: 60%;
  background-repeat: no-repeat;
  margin: 0 0 0 7px;
  z-index: 1;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

#resume {
  display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #40ffef;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#resume:hover {
  color: black;
  background-color: #40ffef;
  text-decoration: none;
}

@keyframes box_reveal_one {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes box_reveal_two {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text-reveal {
  100% {
    color: white;
  }
}

@keyframes type-reveal {
  100% {
    color: #e628ff;
  }
}

@keyframes name-reveal {
  100% {
    color: #40ffef;
  }
}


/* About Section */
.about-section {
  padding-top: 200px !important;
  padding-bottom: 70px !important;
  color: white;
}

.about-section h1{
  text-transform: uppercase;
  font-size: 60px;
}

.about-section h1 span {
  color: #40ffef;
}

.about-section p {
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
}


/*Contact section */
.contact-section {
  margin-top: 100px;
  padding-bottom: 100px;
}

.contact-section h1 {
  font-size: 4rem;
}

.contact-section h1 span {
  color: #40ffef;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.icon {
  position: relative !important;
  display: inline-block !important;
  width: 70px !important;
  height: 70px !important;
  text-align: center !important;
  font-size: 4rem !important;
  line-height: 1.5em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 100% !important;
  transition: 0.5s !important;
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.icon:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.icon:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #6a0bc2 !important;
}



/* Skills section */
.skills-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
  text-transform: uppercase;
}

.skills-section span {
  color: #40ffef;
}

.skills-section h1 {
  font-size: 5rem;
  padding-bottom: 10px;
}

.tech-icons {
  margin: 15px !important;
  border: 1.7px solid rgba(64, 255, 239, 0.637) !important;
  border-radius: 5px !important;
  box-shadow: 4px 5px 4px 3px rgba(4, 168, 119, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  width: 180px !important;
  padding: 20px;
  background-color: rgb(0, 0, 0) !important;
}

.tech-icons img {
  width: 100px;
  height: 80px;
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #40ffef !important;
}

#skill-list {
  width: fit-content;
}

.others {
  font-size: 2.5rem;
  width: fit-content;
}


/*Experiences section*/
.exp-section h1 {
  font-size: 5rem !important;
  padding-bottom: 40px;
}

.exp-section span {
  color: #40ffef;
}

.job {
  margin-bottom: 55px;
}

.main {
  padding-left: 20px !important;
  padding-bottom: 20px;
}

.main h2 {
  font-size: 3rem;
  display: flex;
}

.subhead {
  display: flex;
  color: rgb(247, 231, 205);
  font-size: 2.5rem;
  padding-top: 5px;
  padding-bottom: 25px;
}

.period {
  color: #40ffef;
  font-size: 2rem;
  display: flex;
  justify-content: right;
  padding-left: 20px !important;
}

.main p {
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 800px) {
  .period {
    justify-content: left;
  }
}