html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

/* Home section */
.home-section {
  padding-top: 100px !important;
}

.heading {
  padding-top: 20px;
  color: transparent;
  font-size: 4rem !important;
  padding-left: 40px !important;
  animation: text-reveal 0.5s ease forwards;
	animation-delay: 1s;
}

.heading-name {
  color: transparent;
  font-size: 4rem !important;
  animation: name-reveal 0.5s ease forwards;
	animation-delay: 2s;
}

.heading-des {
  color: transparent;
  font-size: 3.5rem !important;
  animation: text-reveal 0.5s ease forwards;
	animation-delay: 3s;
}

.heading span {
	position: absolute !important;
	top: 0;
	left: 0;
	height: 20%;
	width: 0;
	background-color: red;
	animation: box_reveal_one 1s ease;
	animation-delay: 0.5s;
}

.heading-name span {
  margin-left: 100px;
	position: absolute;
	left: 0;
	height: 20%;
	width: 0;
	background-color: red;
	animation: box_reveal_two 1s ease;
	animation-delay: 1.5s;
}

.Typewriter__wrapper {
  color: transparent;
  font-weight: 400 !important;
  animation: type-reveal 0.5s ease forwards;
	animation-delay: 3.6s;
}
.Typewriter__cursor {
  color: transparent;
  font-weight: 400 !important;
  animation: type-reveal 0.5s ease forwards !important;
	animation-delay: 3.6s !important;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: content;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 290px;
  width: 290px;
  margin: auto;
}

.profile-picture-background {
  height: 90%;
  width: 90%;
  background-image: url("assets/profile.jpg");
  background-size: cover;
  border-radius: 60%;
  background-repeat: no-repeat;
  margin: 0 0 0 15px;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

#resume {
  display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
}

@keyframes box_reveal_one {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes box_reveal_two {
  50% {
    width: 70%;
    left: 0;
  }
  100% {
    width: 0;
    left: 70%;
  }
}

@keyframes text-reveal {
  100% {
    color: white;
  }
}

@keyframes type-reveal {
  100% {
    color: rgb(230, 40, 255);
  }
}

@keyframes name-reveal {
  100% {
    color: #40ffef;
  }
}

